<div class="explore">
    <div class="explore__devider">*****</div>
    <div class="explore__label">
      <a href="https://github.com/{{ site.attribution.author }}/{{ site.attribution.name }}">{{ site.attribution.name }}</a> theme by
      <a href="https://github.com/{{ site.attribution.author }}">{{ site.attribution.author }}</a> kindly hosted by
      <a href="https://github.com/{{ site.author.pages }}">GitHub</a>
    </div>
    <ul class="categories">
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">All</a></li>
    </ul>
</div>
